version: '3'
services:
  app:
      build: ./.docker
      volumes:
        - ./src:/var/opt/app
      environment:
        - "TZ=Japan"
        - "DB_HOST=unknown-db"
        - "PORT=4000"
        - "MIX_ENV=prod"
      container_name: unknown-web
networks:
  default:
    external:
      name: unknown-network