use Mix.Config

# Configure your database
config :data_store,
       DataStore.Repo,
       adapter: Ecto.Adapters.MySQL,
       username: System.get_env("DB_USER"),
       password: System.get_env("DB_PASSWORD"),
       database: System.get_env("DB_HOST"),
       hostname: System.get_env("DB_HOST"),
       pool_size: 10
